---
import Layout from '../layouts/Layout.astro';

import CurveLeft from '../components/curve/CurveLeft.astro';
import CurveRight from '../components/curve/CurveRight.astro';
import CurveDivider from '../components/curve/CurveDivider.astro';
---

<Layout title="Pandier">
    <main>
        <section class="landing">
            <CurveLeft />
            <CurveRight />

            <div class="title">
                <h1 class="fade-in">Pandier</h1>
                <h2 class="fade-in chip">Developer</h2>
            </div>
        </section>

        <CurveDivider />
    </main>
</Layout>

<style>
    .landing {
        height: 800px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        background-color: var(--color-brand);
    }

    .title {
        padding-top: 8rem;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .fade-in {
        transform: translateY(20px);
        opacity: 0;
    }

    .chip {
        display: block;
        width: fit-content;
        padding-inline: .5em;
        border-radius: .3em;
        color: var(--color-brand);
        background-color: var(--color-text);
        box-shadow: .25em .25em 0 var(--color-shadow);
    }
</style>

<script>
    import anime from 'animejs'
    
    window.addEventListener('load', () => {
        anime({
            targets: '.fade-in',
            easing: 'easeOutQuart',
            translateY: [20, 0],
            opacity: [0, 1],
            delay: anime.stagger(200)
        })
    })
</script>
