---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Pandier">
    <main class="full-size">
        <div class="content">
            <h1 class="fade-in">Pandier</h1>
            <h2 class="fade-in chip">Developer</h2>
        </div>
    </main>
</Layout>

<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .fade-in {
        transform: translateY(20px);
        opacity: 0;
    }

    main {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .chip {
        display: block;
        width: fit-content;
        padding-inline: .5em;
        border-radius: .3em;
        color: hsl(var(--color-background));
        background-color: hsl(var(--color-text));
        box-shadow: .25em .25em 0 hsla(var(--color-text), 0.25);
    }
</style>

<script>
    import anime from 'animejs'
    
    window.addEventListener('load', () => {
        anime({
            targets: '.fade-in',
            easing: 'easeOutQuart',
            translateY: [20, 0],
            opacity: [0, 1],
            delay: anime.stagger(200)
        })
    })
</script>
