---
import Layout from '../layouts/Layout.astro';

import { motion } from 'framer-motion'
---

<Layout title="Panda885">
    <main class="full-size">
        <motion.div
            client:idle
            className="content"
            initial={{
                opacity: 0,
                y: 20
            }}
            animate={{
                opacity: 1,
                y: 0
            }}
            transition={{
                ease: "easeOut",
                duration: 1
            }}>

            <h1>Panda885</h1>
            <h2>Coming soon</h2>
        </motion.div>
    </main>
</Layout>

<style>
    .content {
        text-align: center;
    }

    main {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        margin-bottom: 0;
    }

    h2 {
        color: hsla(var(--color-text), 0.5);
    }
</style>
