
<div class="navigation">
    <div class="content">
        <a href="/" class="brand">
            <svg width="32" height="31" viewBox="0 0 32 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M7.22103 12.8254C6.66702 12.3243 6.07263 11.6251 5.70235 10.8766C5.42226 10.3104 5.32781 9.83043 5.37318 9.45901C5.41247 9.13741 5.56896 8.76976 6.08468 8.38814C6.48313 8.09328 6.81536 8.04077 7.10797 8.07904C7.4372 8.12209 7.83015 8.29874 8.25466 8.64749C8.86864 9.15191 9.39002 9.88567 9.7187 10.5804C8.82708 11.2316 7.95086 12.0349 7.22103 12.8254Z" fill="white"/>
                <path d="M24.7512 9.71358C23.6354 9.08515 22.3444 8.65843 20.8828 8.4324C20.9695 7.75814 21.1684 7.00262 21.5151 6.39754C21.7811 5.9335 22.0911 5.63119 22.4311 5.47153C22.7527 5.32051 23.2364 5.2326 23.9913 5.44047C24.5912 5.60566 24.8614 5.87702 25.0113 6.14373C25.1843 6.45175 25.278 6.90521 25.2446 7.52003C25.2058 8.23563 25.0039 9.01388 24.7512 9.71358Z" fill="white"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M2.04466 23.4776C2.0678 23.5334 2.09301 23.5957 2.12566 23.6764L2.14275 23.7187C2.58087 24.803 3.54934 27.1999 6.2826 28.8402C9.12724 30.5472 13.1167 31.0176 18.6944 30.2174C23.8195 29.4821 27.5879 27.3022 29.8228 24.1862C32.0177 21.1259 32.4896 17.4622 31.5236 14.4132C31.1366 13.1918 30.5944 12.023 29.8656 10.9547C30.1667 10.0099 30.412 8.92877 30.4725 7.81298C30.538 6.60705 30.4053 5.03104 29.563 3.53189C28.6507 1.90814 27.1519 0.813536 25.3294 0.311691C23.5714 -0.172389 21.7682 -0.117995 20.1236 0.654247C18.5345 1.40045 17.5023 2.6247 16.8595 3.74637C16.4994 4.37472 16.2256 5.03038 16.0204 5.67647C15.51 5.71897 14.9902 5.77586 14.4609 5.84673C13.9884 5.90999 13.5278 5.99689 13.0793 6.10513C12.6297 5.53594 12.1168 5.0003 11.5466 4.53189C10.6133 3.76515 9.32225 3.01372 7.72901 2.80538C6.02598 2.58269 4.33191 3.03166 2.87828 4.10734C1.29661 5.27777 0.282978 6.91229 0.0506362 8.81439C-0.163373 10.5664 0.335864 12.1199 0.89379 13.2477C1.29024 14.0491 1.79309 14.7924 2.33875 15.4518C1.08215 18.5752 1.26871 21.6073 2.04466 23.4776ZM14.8742 8.48082C16.0691 8.32082 17.1895 8.24111 18.2376 8.24103C18.3509 7.22821 18.6463 6.06945 19.2189 5.07029C19.6736 4.27688 20.3448 3.51394 21.3089 3.06122C22.2915 2.59985 23.4348 2.52825 24.6919 2.87442C25.9038 3.20812 26.7879 3.89147 27.3187 4.83614C27.8263 5.73949 27.9396 6.75408 27.8901 7.66484C27.8169 9.0141 27.3725 10.385 26.9235 11.4244C27.9075 12.4894 28.6053 13.7752 29.062 15.2166C29.7703 17.4524 29.4475 20.2416 27.7361 22.6277C26.0116 25.0322 22.9617 26.9231 18.3828 27.58C13.0461 28.3457 9.78443 27.8008 7.70475 26.5528C5.73485 25.3706 5.04633 23.668 4.64349 22.6719C4.61186 22.5937 4.582 22.5199 4.55341 22.451C3.96034 21.0215 3.77937 17.9907 5.60679 14.9425C4.75154 14.2041 3.88386 13.1808 3.32963 12.0605C2.91042 11.2131 2.61382 10.1964 2.74347 9.13503C2.8792 8.02382 3.46379 7.02251 4.51304 6.24607C5.4393 5.56065 6.45248 5.3101 7.45005 5.44054C8.41098 5.5662 9.25297 6.03001 9.9322 6.58803C10.8042 7.30437 11.5319 8.27738 12.0265 9.26411C12.9071 8.88919 13.857 8.61702 14.8742 8.48082Z" fill="#FF6D64"/>
                <path d="M19.2625 18.1151C20.5357 18.2505 21.6771 17.3236 21.8118 16.0449C21.9091 15.1214 21.4547 14.2669 20.715 13.8125C20.4306 13.6378 20.104 13.5222 19.7504 13.4847C18.4772 13.3493 17.3358 14.2762 17.2011 15.5549C17.1729 15.8222 17.191 16.0837 17.2488 16.3314C17.4675 17.2686 18.2554 18.0081 19.2625 18.1151Z" fill="#FF6D64"/>
                <path d="M11.4571 17.5248C11.7662 18.7726 13.0239 19.5326 14.2664 19.2223C15.2491 18.9768 15.928 18.1353 16.016 17.1768C16.0392 16.9234 16.0212 16.6619 15.9566 16.401C15.6476 15.1532 14.3899 14.3933 13.1474 14.7036C12.8023 14.7898 12.4948 14.9494 12.2371 15.1618C11.5668 15.7143 11.234 16.6235 11.4571 17.5248Z" fill="#FF6D64"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M15.2243 11.1182C16.8174 10.9049 18.211 10.8549 19.4239 10.9435C21.7135 11.111 23.3279 11.7687 24.4588 12.7322C25.4082 13.541 26.0965 14.6322 26.5373 16.0233C26.988 17.4461 26.8141 19.3608 25.5863 21.0726C24.3716 22.7662 22.0398 24.3676 18.0081 24.946C12.9127 25.677 10.3787 25.0578 9.06378 24.2687C7.87296 23.5541 7.48266 22.6041 7.07985 21.6237L7.07939 21.6225C7.05274 21.5577 7.02604 21.4927 6.99905 21.4276C6.70476 20.7183 6.40961 18.0997 8.47634 15.4408C9.34535 14.3228 10.7631 12.9872 11.9885 12.2589C12.9571 11.6832 14.0345 11.2776 15.2243 11.1182ZM13.1474 14.7036C14.3899 14.3933 15.6476 15.1532 15.9566 16.401C16.0212 16.6619 16.0392 16.9234 16.016 17.1768C15.9516 20.515 13.2572 23.4157 11.054 22.1735C8.85089 20.9314 10.2532 16.7973 12.2371 15.1618C12.4948 14.9494 12.8023 14.7898 13.1474 14.7036ZM17.2011 15.5549C17.3358 14.2762 18.4772 13.3493 19.7504 13.4847C20.104 13.5222 20.4306 13.6378 20.715 13.8125C22.9044 15.1577 24.8608 19.0581 22.8493 20.5935C20.8377 22.1288 17.7708 19.6289 17.2488 16.3314C17.191 16.0837 17.1729 15.8222 17.2011 15.5549Z" fill="white"/>
            </svg>
            <span>
                Pandier
            </span>
        </a>
        <div class="menu">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" height="inherit" fill="currentColor">
                <path d="M160-240q-17 0-28.5-11.5T120-280q0-17 11.5-28.5T160-320h640q17 0 28.5 11.5T840-280q0 17-11.5 28.5T800-240H160Zm0-200q-17 0-28.5-11.5T120-480q0-17 11.5-28.5T160-520h640q17 0 28.5 11.5T840-480q0 17-11.5 28.5T800-440H160Zm0-200q-17 0-28.5-11.5T120-680q0-17 11.5-28.5T160-720h640q17 0 28.5 11.5T840-680q0 17-11.5 28.5T800-640H160Z"/>
            </svg>
        </div>
    </div>
</div>

<style type="scss">
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 1.75rem;
    }

    .brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .75rem;

        font-size: 1.25rem;
        font-weight: 600;
    }

    .menu {
        height: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
