
.content {
    max-width: 80rem;
    width: 100%;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

h1, h2 {
    margin: 0;
    padding: 0;

    font-weight: 600;
    line-height: 1.2em;
}

h1 {
    font-size: 3.6rem;
}

h2 {
    font-size: 2rem;
}

@media (max-width: 640px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 1.5rem;
    }
}