name: deploy

on:
  push:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: 'ubuntu-latest'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Wait for tests to succeed
        uses: lewagon/wait-on-check-action@v1.0.0
        with:
          ref: ${{ github.ref }}
          running-workflow-name: build
          allowed-conclusions: success
      - uses: actions/cache@v3
        with:
          path: dist
          key: dist-${{ github.sha }}
      - uses: actions/upload-pages-artifact@v1
        with:
          path: ./dist
      - id: deployment
        uses: actions/deploy-pages@v1